$primary-light: #ffcdb2;
$primary-dark: #ffb4a2;
$secondary-light: #e5989b;
$secondary-dark: #b5828c;

$primary-light-variant: #ffeee5;

$accent-color: #6c4f60;
$button-color: #e5989b;
$button-hover: #b5828c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
